/* Write your CSS here */

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.googleSearchSuggestions-bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

.searchInputElement {
  width: 360px;
  border: 0;
  font-size: 16px;
  margin-left: 0;
  color: #64748b;
}

.searchInputElement:focus {
  outline: none;
}

.suggestions-container {
  width: 450px;
  border-radius: 15px;
  box-shadow: 3px 3px 20px gray;
  /* border: 1px solid #000; */
  padding: 15px;
}

.google-logo {
  height: 100px;
  margin-bottom: 30px;
}

.search-icon {
  height: 30px;
  margin-right: 10px;
  color: #bfbfbf;
}

.suggestions-list-container {
  padding: 5px 15px 10px 5px;
}

@media screen and (max-width: 575px) {
  .suggestions-container {
    width: 350px;
    box-shadow: 1px 1px 15px gray;
  }

  .google-logo {
    height: 66px;
  }
}
